/module_desktop/target/
/module_game_logic/target/
/module_geometry/target/
/module_ml/target/
/module_multiplayer/target/protobuf_external/
/module_multiplayer/target/streams/
/module_multiplayer/target/scala-2.13/classes/
/module_server/target/protobuf_external/
/module_server/target/streams/
/module_server/target/test-reports/
/module_server/target/scala-2.13/classes/
/module_server/target/scala-2.13/test-classes/
/module_singleplayer/target/
/target/
/project/target/
/.idea/
/.bsp/
/project/project/target/
/project/project/
/module_server/target/
/module_multiplayer/target/
